# Database
DATABASE_URL="postgresql://user:password@localhost:5432/vo_virginia"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
AUTH_SECRET="generate-a-secret-with-openssl-rand-base64-32"

# Google OAuth
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Microsoft OAuth
MICROSOFT_CLIENT_ID=""
MICROSOFT_CLIENT_SECRET=""

# Resend (Email)
RESEND_API_KEY=""
